
/* Media Queries para Responsividad */


/* Ajuste para pantallas pequeñas (max-width: 320px) */
@media (max-width: 320px) {


/*.boton {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}*/

  header {    
    flex-direction: column;   /* Cambia la dirección del flexbox a columna */
  }

  #logo {
    margin-bottom: 10px;   /* Añade margen inferior al logo */
  }

 
  /*#menu,*/ #alertas, #puntos, #contenido, #principalInicioHtml {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Columnas automáticas con un mínimo de 150px */
  }

  #logo, #texto-cabecera, #login {
    flex-wrap: wrap-reverse;
    flex: 1 1 100%;   /* Hace que estos elementos ocupen todo el ancho disponible */
    margin-bottom: 10px; /* Añade margen inferior para separación */
    }

  #texto-cabecera {
    text-align: center; /* Centrar texto en pantallas pequeñas */
  }

  .footer{
    margin-top: auto;
    flex: 1;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Columnas automáticas con un mínimo de 150px */
  }

  #principalInicioHtml, #botonesInicioHtml {
    flex-direction: column;
  }
  .carga {
    width: 100%;
     }
  
     
  
  /*Menu hamburguesa/*/

  .abrir-menu,
  .cerrar-menu{
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
   }

 

  .nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 48vh;
    left: 0;
    bottom: 6vh;
    background-color: #1b714c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);

    opacity: 0;
    visibility: hidden;

  }

  .nav.visible {
    opacity: 1;
    visibility: visible;

  }

.navlist{
    flex-direction: column;
    align-items: end;
  }

#menu{
  display: none;
    visibility: hidden;
  }
  #mainUserHtml{
    display: flex;
    flex-direction: column;
  }
  
}

/* Ajuste para pantallas medianas (min-width: 320px) and (max-width: 767px) */
@media (min-width: 320px) and (max-width: 767px) {
  header {       
    flex-direction: column;   /* Cambia la dirección del flexbox a columna */
  }

  #logo {
    margin-bottom: 10px;   /* Añade margen inferior al logo */
  }

  /*#menu,*/ #contenido, #cotizaciones {
    flex: 1 1 100%;   /* Hace que estos elementos ocupen todo el ancho disponible */
  }

  #logo, #texto-cabecera, #login {
    flex: 1 1 100%;   /* Hace que estos elementos ocupen todo el ancho disponible */
    margin-bottom: 10px; /* Añade margen inferior para separación */
  }

  #texto-cabecera {
    text-align: center; /* Centrar texto en pantallas medianas */
  }

  #main {
    padding-top: 20vh;    /* Agrega un padding en la parte superior del main */
  }

  /*Menu hamburguesa/*/

  .abrir-menu,
  .cerrar-menu{
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
   }

 

  .nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 48vh;
    left: 0;
    bottom: 6vh;
    background-color: #1b714c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);

    opacity: 0;
    visibility: hidden;

  }

  .nav.visible {
    opacity: 1;
    visibility: visible;

  }

.navlist{
    flex-direction: column;
    align-items: end;
  }

#menu{
  display: none;
    visibility: hidden;
  }
}


/* Ajuste para pantallas grandes (min-width: 768px) */
@media (min-width: 768px) {
  header {
    display: flex;   /* Cambia el display a flex para poder utilizar flexbox */
    flex-direction: row;   /* Cambia la dirección del flexbox a fila */
    align-items: center;   /* Centra verticalmente los elementos del header */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
  }

  #logo {
    flex: 0 1 auto;   /* Hace que el logo se ajuste automáticamente */
    margin-bottom: 0;   /* Elimina el margen inferior del logo */
  }

  /*#menu {
    padding-top: 20px;
    flex: 1 1 auto;   /* Hace que el menú se ajuste automáticamente */
  /*}*/

  #contenido {
    flex: 1 1 60%;   /* Establece el ancho del contenido en un 60% */
  }

  #texto-cabecera {
    flex: 1 1 auto;   /* Hace que el texto de cabecera se ajuste automáticamente */
    text-align: center; /* Centrar texto en pantallas grandes */
  }

  #login {
    flex: 0 1 20%;   /* Establece el ancho del login en un 20% */
    text-align: right; /* Alinea el texto a la derecha */
  }

  #cotizaciones {
    padding-top: 10px;
    flex: 1 1 10%;   /* Establece el ancho de las cotizaciones en un 10% */
  }

  #main {
    padding-top: 0;   /* Elimina el padding en la parte superior del main */
    
  }

  #nav{
    display: none;
  }

  #menu{
    visibility: visible;
  }

}