/*BLOQUE PARA TIPO DE LETRA*/
.roboto-thin, .roboto-light, .roboto-regular, .roboto-medium, .roboto-bold, .roboto-black, 
.roboto-thin-italic, .roboto-light-italic, .roboto-regular-italic, .roboto-medium-italic, .roboto-bold-italic, .roboto-black-italic {
  font-family: "Roboto", sans-serif;
}

.roboto-thin { font-weight: 100; font-style: normal; }
.roboto-light { font-weight: 300; font-style: normal; }
.roboto-regular { font-weight: 400; font-style: normal; }
.roboto-medium { font-weight: 500; font-style: normal; }
.roboto-bold { font-weight: 700; font-style: normal; }
.roboto-black { font-weight: 900; font-style: normal; }

.roboto-thin-italic { font-weight: 100; font-style: italic; }
.roboto-light-italic { font-weight: 300; font-style: italic; }
.roboto-regular-italic { font-weight: 400; font-style: italic; }
.roboto-medium-italic { font-weight: 500; font-style: italic; }
.roboto-bold-italic { font-weight: 700; font-style: italic; }
.roboto-black-italic { font-weight: 900; font-style: italic; }





/* Estilos generales */
*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Familia de fuentes */

}

/*INDEX-HTML********************************************************* login  ************************************************************/

.login-container {
  background-color:rgba(255, 255, 255, 0.7) ;
  border: 4px solid #c2c2c2;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 400px; /* Ancho máximo para pantallas grandes */
  margin: auto;
  font-size: 24px;
  padding: 1%; /* Espaciado interior */
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
#error{
  color: red;
  display: none;
}
 /* Estilo link de registro */
  #registro {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #1b714c;
    text-decoration: none; 
    }
  #registro:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
    }
/* Pie de página del Index.html, transparente*/
#indexFooter {
      background-color:rgba(255, 255, 255, 0.4);
      color: rgb(29, 24, 24);
      padding: 1%;
      }
    
/******************************************************** index  ************************************************************/

/*REGISTRO-HTML********BOOTSTRAP******************************************************* index  ************************************************************/

#registrarme h1 {
  color: #333;
  }
#registrarme h2 {
  color: #156325;
  }
label{
  font-family: 'Roboto', sans-serif;
  color: #333;
}
.form-group input[type="text"], input[type="number"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
  }
.form-group input[type="date"], input[type="email"], input[type="tel"] {
      width: 50%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
  }
  
  /* Estilo para botón Enviar */
  button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  button[type="submit"]:hover {
      background-color: #0056b3;
  }
 
/*USER-HTML********************************************************* index  ************************************************************/

body {
  margin: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
a {
  color: white;
  text-decoration: none;
}

/* Encabezado */
header {
  background-color: rgb(87, 105, 87);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  font-size: 100%;
  text-align: center;
}

#logo {
  margin-left: 3%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

#texto-cabecera {
  flex: 1 1 100%;
  }

#login {
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*margin: 0 10px;*/
  }

#datos_usuario {
  float: left;
  padding: 5px;
  text-align: left;
}

#btn_sesion {
  float: left;
  padding: 10px;
}

/*Contenedor principal */
#mainUserHtml {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  padding: 5px 0px 0px 10px;
  height: 100%;
  }

/*.boton_menu {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  height: 10%;    
  display: flex;
  flex-direction: column;
}*/

#cotizaciones {
  display: flex;
  background-color: #83bd77;
  padding-left: 1%;
  margin: 0 0.2% ;
}


/* Pie de página general*/
footer {
  background-color: rgb(27, 113, 76); 
  color: white;
  padding: 1%;
  text-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 1em;
  margin-top: auto;
  z-index: 1;     /*Lo deja siempre visible*/
}

/*INICIO-HTML*****************************************************************************************************************************************/
#bodyinicioHtml {
  display: flex;
  overflow-x: hidden; /* Ocultar scroll horizontal */
 }

#principalInicioHtml {
  height: 65%;
  display: flex; /* Establece el contenedor como flexbox */
  flex-direction: row;
  align-items: center; /* Centra los elementos verticalmente */
  text-align: center;
  color: black;
  padding: 1px 5px;
}


#alertas, #puntos{
  display: flex;
  height: 100%;
  margin: 1px 5px;
  border: 1px solid black;
  }
#alertas {
  width: 70%;
}
#puntos {
  display:grid;
  align-items: center;     /* Centra verticalmente */
  font-size: 4.2vw;          /* Tamaño de fuente responsivo */
  text-shadow: 4px 4px 10px rgb(255, 255, 255);
  font-weight: bolder;
  align-items: center; /* Centra los elementos verticalmente */
}

#puntos-usuario {
  text-shadow: 4px 4px 10px rgb(130, 131, 131);
}

.texto_canje {
  font-size:2vw;; 
  text-align: right; 
  color: blue;
  transition: background-color 0.3s, color 0.3s
}
.texto_canje:hover {
  text-decoration: underline;
}
#botonesInicioHtml {
  align-items: center;
  height: 35%;
  width: 100%;
  /*float: left;*/
  display: flex; /* Establece el contenedor como flexbox */
  flex-direction: row;
  align-items: center; /* Centra los elementos verticalmente */
  text-align: center;
  color: black;
  padding: 5px;
}


.carga {
  display: flex; /* Establece el contenedor como flexbox */
  flex-direction: column;
  width: 25%;
  height: 100%;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  margin: 5px;
  border: 1px solid black;
}

.icono {
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  height: 30vh;
  padding: 2px;
  margin: 5px;
}


/*ESTILO DE BOTON*/
.boton{
  float:none;
  padding: 10px 20px;
  background-color: #1b714c;
  color: #ffffff;
  border: 1px solid #156325;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 2%;
  transition: background-color 0.3s, color 0.3s

}
.boton:hover {
  background-color: #0056b3;
  color: #ffffff;
}

/*CANJES-HTML***********************************************************************/

.explicacion, #catalogo {
  margin-left: 1%;
}

/* Estilo para la grilla */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Columnas automáticas con un mínimo de 250px */
  grid-gap: 20px; /* Espacio entre las filas y columnas */
}

/* Estilo para cada premio */
.premio {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.premio img {
  align-items: center;
  align-content: center;
  max-width: 100%;
  height: 200px;
}

/*DIFERENCIAS BOTON VOLVER*/
#volver {
  width: 150px;
  padding: 3px;
  margin: 1.5vh;
  text-align: center;
  border-radius: 15px;
  background-color: #1b714c;
  transition: background-color 0.3s, color 0.3s

}
#volver:hover {
  background-color: #0056b3;
  color: #ffffff;
}

/*Para HTML de CARGAS (cargapas.html, cargafoto.hmtl, etc***********************************************************************/

.data{
  margin-left: 1%;
}

/*Menu hamburguesa Cami*/
/*Para menu hamburguesa*/
.nav-list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #f2f2f2;
}

.abrir-menu, 
.cerrar-menu {
  display: none;
}


.nav{
  visibility: hidden;
}


@media screen and (max-width: 700px) {

}




/*@media screen and (min-width: 1661px) {

}*/


